
@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>//</span> Wait just a minute</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Sorry, the payment was cancelled</h3>
                <p>Your payment was not successful. Please try again.</p>
            </div>
        </div>
    </div>
</div>
