
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Thank You</h3>
                <p>Your payment was successful!</p>
            </div>
        </div>



    </div>
</div>


