<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AcU4VtsoM3Sl4d7tkhH-zCqC1XmqcveX0pfsLnMsvIHjbZlMZ01R8mKGemtbyKpSSe5kvRFlzvjgJlFY" />
      <add name="clientSecret" value="EJlnvQ2M5Owgt7zU3RqM6upcrAtqVvLY2JkZul7AM3xy32GBPz1kIOqlaItOLGPHZGG0euSMOBzR36qI" />
    </settings>
  </paypal>

</configuration>